@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("Assets/images/Background.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 535px;
  position: relative;
}

.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
}

nav img {
  color: #e50914;
  width: 121px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}

.btn {
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 500;
  background-color: rgba(248, 248, 248, 0.023);
  color: white;
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.main input {
  border: 1px solid rgba(246, 238, 238, 0.5);
  padding: 3px 8px;
  border-radius: 4px;

  color: white;
  font-weight: 400;
  font-size: medium;
  background-color: rgba(23, 23, 23, 0.7);
}

.btn-red-sm {
  background-color: #e50914;
  color: white;
}

.btn-red {
  border-color: #e50914;
  padding: 3px 24px;
  font-size: medium;
  background-color: #e50914;
  color: white;
}

.hero-buttons {
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

/* First section */

.first {
  display: flex;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
  height: 535px;
}

.secimage {
  position: relative;
}
.secimage img {
  width: 30vw;
  height: auto;
  z-index: 10;
  position: relative;
}

.secimage video {
  position: absolute;
  top: -5%;
  left: 13%;
  width: 73%;
  height: 107%;
}

.first > div :nth-child(1) {
  display: flex;
  flex-direction: column;
  font-size: 48px;
}

.first > div:nth-child(2) {
  font-size: 12px;
}

/* Third section */

.third {
  display: flex;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
  height: 535px;
}

.thirdimage {
  position: relative;
}
.thirdimage img {
  width: 30vw;
  height: auto;
  z-index: 10;
  position: relative;
}

.thirdimage video {
  position: absolute;
  top: -5%;
  left: 19%;
  width: 61%;
  height: 73%;
}

.third > div :nth-child(1) {
  display: flex;
  flex-direction: column;
  font-size: 48px;
}

.third > div:nth-child(2) {
  font-size: 12px;
}
.faq h2 {
  text-align: center;
  font-size: 48px bolder;
  font-weight: 900;
  margin: 24px;
}

.faq {
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
}
.faqbox {
  justify-content: space-between;
  width: 100%;
  display: flex;
  background-color: #2d2d2d;
  padding: 1.5rem;
  cursor: pointer;
  margin: 8px auto;
  max-width: 75vw;
}

.faqbox:hover {
  background-color: grey;
}
.footbuttons input {
  align-items: center;
  border: 1px solid rgba(246, 238, 238, 0.5);
  padding: 6px 8px;
  border-radius: 4px;
  color: white;
  font-weight: 400;
  font-size: medium;
  background-color: rgba(23, 23, 23, 0.7);
}

.btn-red-sm {
  background-color: #e50914;
  color: white;
  border-color: #e50914;
}

.btn-red {
  padding: 8px 24px;
  font-size: medium;
  background-color: rgb(229, 9, 20);
  color: white;
}

.footbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  gap: 6px;
  border-color: black;
  margin: 10px;
  position: relative;
}
.foot {
  margin: 24px;
  color: white;
  text-align: center;
  flex-direction: row;
}

.footer {
  max-width: 60vw;
  margin: auto;
  color: white;
  padding: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer span {
  padding-top: 50px;
}

div .questions{
text-align: center;
}
.footer a{

color: white;
font-size: 10px;
gap: 14px;
}
.questions{
margin-right: 100px;
}
.footer-item {
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
  bottom: 30px;
}
